body {
  -webkit-print-color-adjust:exact;
}
.verse {
  font-size: 30px;
  text-align: center;
}

.fredericka {
  font-family: 'Fredericka the Great', cursive;
}
.annie {
  font-family: 'Annie Use Your Telescope', cursive;
}
.blackAndWhite {
  font-family: 'Black And White Picture', sans-serif;
}

.images {
  text-align: center;
  padding: 20px; }

img {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  }

.page-illustration {
  width: 75%;
}

.listed-illustrations {
  width: 100%;
}

.page {
  height: 100vh; }

.settings {
  position: fixed;
  background: white;
  height: 100%;
  width: 20%; }

.page1 {
  background-color: #FAF3DD;
  background-image: url('../images/nature.png');
  background-repeat: repeat;
}

.page2 {
  background-color: #B8F2E6; }

.page3 {
  background-color: #A8D0DB; }

.page4 {
  background-color: #FAF9F9; }

.page5 {
  background-color: #CCE8CC; }

.page6 {
  background-color: #E2B6CF; }

.page7 {
  background-color: #F3DE8A; }

.page8 {
  background-color: #B8F2E6; }

.sidebar-content {
  background: #edf1f2;
  padding: 10px;
}

.sidebar-content .item {
  margin-top: 15px;
}

.small-grey-font {
  font-size: 12px;
  color: #909090;
  margin-bottom: 5px;
}

.navigation-drawer {
  padding: 1%;
}

.verse-textarea {
  max-width: 400px;
  margin: auto;
}

.page-buttons {
  opacity: 0;
  transition: 300ms;
}
body:hover .page-buttons {
  opacity: 1;
}

/* Styles for printing */
@media print {
  page {
    size: landscape
  }
  .page-buttons {
    display: none;
  }
  .flex.md6 {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
  }
  .toolbar_content {
    display: none;
  }
}